* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: Causten-Medium;
  src: url(../public/fonts/Causten-Medium.ttf);
  font-family: Causten-Bold;
  src: url(../public/fonts/Causten-Bold.ttf);
  font-family: Causten-Semi-Bold;
  src: url(../public/fonts/Causten-Semi-Bold.ttf);
  font-family: Causten-Regular;
  src: url(../public/fonts/Causten-Regular.ttf);
}
