.containerr {
    position: relative;
    padding: 20px; /* Add some padding to give space for the label */
    border: 0.2rem solid #ccc;
    border-radius: 10px;
  }
  
  .label {
    position: absolute;
    top: -15px; /* Adjust the positioning as needed */
    left: 10px; /* Adjust the positioning as needed */
    background-color: white;
    padding: 4px 8px;
  }
  