<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Roommate Dhoondho Backend</title>
  <style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      
      .container {
        max-width: 600px;
        border: 2px solid #333;
        border-radius: 10px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      h1 {
        color: #333;
        text-align: center;
      }
      
      p {
        color: #666;
        text-align: justify;
        line-height: 1.6;
      }
  </style>
</head>
<body>
  <div class="container">
    <h1>Roommate Dhoondho Backend Server</h1>
    <p>
      Dear Visitor,
      <br><br>
      Thanks for stopping by the Roommate Dhoondho Backend Server. If you've stumbled upon any bugs, please report them at <a href="https://sdeysocial.canny.io/issue" target="_blank">https://sdeysocial.canny.io/issue</a>. Together, let's keep this code shipshape for our fellow VITians.
      <br><br>
      Best Regards,
      <br>
      MFC VIT Team
    </p>
  </div>
</body>
</html>
