form {
  display: flex;
  flex-direction: column;
}
.form-section-1 input,
.form-section-2 input {
  padding: 1rem;
  font-size: 1rem;
}
.errorMsg {
  font-family: "Causten-Regular", Helvetica;
  color: #ee1d52;
}
.form-section-1 {
  margin: 2rem 0 0 0;
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  column-gap: 5%;
}
.form-section-1a,
.form-section-1b {
  display: flex;
  flex-direction: column;
}
.form-section-1a label,
.form-section-1b label {
  margin-bottom: 4px;
}
.form-section-1a input,
.form-section-1b input {
  margin-bottom: 4px;
  background-color: #d9d9d9;
  border-radius: 8px;
  height: 3rem;
}
.form-section-2 {
  margin: 2rem 0 0 0;
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  column-gap: 5%;
}
.form-section-2a,
.form-section-2b {
  display: flex;
  flex-direction: column;
}
.form-section-2a label,
.form-section-2b label {
  margin-bottom: 4px;
}
.form-section-2a input,
.form-section-2b input {
  margin-bottom: 4px;
  background-color: #d9d9d9;
  border-radius: 8px;
  height: 3rem;
}
.form-section-3 {
  margin: 2rem 0 0 0;
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  column-gap: 5%;
}
.form-section-3b {
  display: flex;
  flex-direction: column;
}

.form-section-3b label {
  margin-bottom: 4px;
}

.form-section-3b input {
  margin-bottom: 4px;
  background-color: #d9d9d9;
  border-radius: 8px;
  height: 3rem;
}
.input-group {
  position: relative;
}
.form-section-3 .flex {
  height: 6rem;
  outline: none;
  border: 2px solid #7e8490;
  width: 42.7vw;
  border-radius: 10px;
}
.form-section-3 .flex label {
  transform: translateX(14%) translateY(-52.5%) scale(1);
  background-color: #ffffff;
  padding: 0 0.2em;
  color: #000000;
  height: fit-content;
  position: absolute;
}
.form-section-3-border {
  width: 43vw;
  display: flex;
  padding-left: 12%;
  justify-content: flex-start;
  align-items: center;
}
.male,
.female {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 3rem;
}
.form-section-4 button {
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.form-section-5 hr {
  margin: 2.5rem 0 0 0;
}
@media screen and (max-width: 660px) {
  .form-section-1 {
    margin: 2rem 0 0;
    display: flex;
    flex-direction: column;
  }
  .form-section-1a {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
  }

  .form-section-1b {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  .form-section-2 {
    margin: 1rem 0 0;
    display: flex;
    flex-direction: column;
  }
  .form-section-2a,
  .form-section-2b {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  .form-section-3 {
    margin: 2rem 0 0;
    display: flex;
    flex-direction: column;
  }

  .form-section-3b {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 0;
  }

  .form-section-3-border {
    width: 90vw;
    display: flex;
    padding-left: 12%;
    justify-content: flex-start;
    align-items: center;
  }
  .form-section-3 .flex {
    height: 6rem;
    outline: none;
    border: 2px solid #7e8490;
    width: 89.7vw;
    border-radius: 10px;
  }
}
