.loading-indicator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
}

.tabs {
  font-family: arial;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  padding-bottom: 10px;
  display: block;
}

.tab-buttons {
  display: flex;
  padding-top: 10px;
  height: 80px;
}

.tabs button {
  font-size: 12px;
  background: transparent;
  border: none;
  outline: none;
  margin: 0px 8px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 0.2s;
  border-bottom: 2px solid transparent;
  border-radius: 0;
}
.tabs .nonactive {
  height: 80px;
  width: 140px;
  color: #7e8490;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.tabs .active {
  height: 80px;
  width: 140px;
  color: #000000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.tabs .nonactive .tab-text {
  padding-bottom: 10px;
  width: 140px;
}
.tabs .active .roomate-icon {
  padding-bottom: 10px;
  width: 140px;
  border-bottom: 2px solid #000000;
}

.tab-text {
  font-size: 16px;
}
.roomate-icon img {
  margin-bottom: 0px;
  height: 32px;
  width: 32px;
}
.roomate-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hr2 {
  border-top: 2px solid #7e8490;
  margin-top: 10px;
}
.tab-content {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1px;
}
.tab-dropdownbuttons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 8px;
  list-style: none;
  align-items: center;
  text-align: center;
  width: 70vw;
  justify-content: end;
}

.custom-select select,
.custom-select-2 select {
  color: #7e8490;
  width: 120px;
  height: 40px;
  font-size: medium;
  border-radius: 40px;
  padding-left: 20px;
  border-color: #7e8490;
  border-width: 2px;
  background-color: white;
  /* needed */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* SVG background image */
  background-image: url("/public/image/arrow-down-.png");
  background-size: 0.6em;
  background-position: calc(100% - 0.8em);
  background-repeat: no-repeat;
  font-family: "Causten-Medium", Helvetica;
}
.custom-select-2 option,
.custom-select option {
  font-family: "Causten-Medium", Helvetica;
}
.custom-select-2 select::-ms-expand,
.custom-select select::-ms-expand {
  display: none;
}
.navtab-main {
  display: flex;
  flex-direction: column;
}
.navtab-hr {
  margin-top: 10px;
}
.cards {
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
  margin-bottom: 2%;
}
@media screen and (max-width: 950px) {
  .cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 700px) {
  .tab-dropdownbuttons {
    display: none;
  }
}

@media screen and (max-width: 468px) {
  .tab-buttons {
    display: flex;
    padding-top: 10px;
    height: 50px;
  }

  .tabs button {
    background: transparent;
    border: none;
    outline: none;
    margin: 0px 2px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 0.2s;
    border-bottom: 2px solid transparent;
    border-radius: 0;
  }
  .tab-text {
    font-size: 12px;
  }
  .tabs .nonactive {
    height: 50px;
    width: 120px;
    color: #7e8490;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .tabs .active {
    height: 50px;
    width: 120px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .tabs .nonactive .tab-text {
    padding-bottom: 10px;
    width: 120px;
  }
  .tabs .active .roomate-icon {
    padding-bottom: 10px;
    width: 120px;
    border-bottom: 2px solid #000000;
  }
  .roomate-icon img {
    margin-bottom: 0px;
    height: 28px;
    width: 28px;
  }
  .roomate-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
